.whiteCard {
    background: #ffffff;
    border: 1px solid grey;
    margin: 10px 350px 10px 350px;
    width: 40%;
}

@media only screen and (max-width: 576px) {
    .whiteCard {
        width: 100%;
    }
}
.gradientStyle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    z-index: 1;
    margin: 20px 5px 20px 5px;
    padding: 30px;
}
.donut-single-wrapper{
    width: 100%;
}
.donut-single-wrapper-name{
    font-size: 15px;
}
.demoLabel {
    
    font-family: Roboto;
    font-style: normal;

    font-weight: 500;

    font-size: 18px;

    line-height: 21px;

    color: #333333;
    margin: 20px;
}

.chart_center{
    display: flex;
    justify-content: center;
    align-items: center;

}

.label1 {
    background: #3D85C6;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.label2 {
    background: #63C29D;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.label3 {
    background: #f23255;
    border-radius: 7px;
    padding: 10px;
    margin-right: 10px;
}
.doughnutChartStyle {
    background: #ffffff;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 47px;
    text-align: center;
    color: #111111;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cardWrapper {
    margin: auto 90px;
    padding: 20px 40px;
    border: 1px solid red;
    background-color: white;
    width: 40%;
}
@media only screen and (max-width: 576px) {
    .cardWrapper {
        width: 100%;
    }
}

.stackChart {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header1 {
    color: #63C29D;
    display: flex;
    margin: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;

}
.header2 {
    display: flex;
    width: 100%;
    text-align: center;
}
.header2-selected {
    font-size: 18px;
    /* color: #27364B; */
    color: #63C29D;
    background: #EBF7F3;
    border-bottom: 2px solid #63C29D;
    width: 32%;
    padding: 3px 0px;
    text-align: center;
}
.header2-unselected {
    font-size: 18px;
    color: #27364B;
    border-bottom: 1px solid grey;
    width: 32%;
    padding: 3px 0px;
}
.header_margin{
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}
.pieChart {
    display: flex;
    justify-content: center;
    align-items: center;
}